body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav h1 {
    margin: 0;
    font-size: 24px; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px); 
}

#imageContainer img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    nav h1 {
        font-size: 20px; 
    }

    .container {
        padding: 20px; 
    }
}